In [9]:
import os
import pandas as pd
from pathlib import Path

In [17]:
# create the paths using Path

bit_data = Path('Resources/bitstamp.csv')
coin_data = Path('Resources/coinbase.csv')
bit_data
coin_data

WindowsPath('Resources/coinbase.csv')

In [27]:
# create the bitstamp data frame 

bitstamp = pd.read_csv(bit_data, index_col="Timestamp", parse_dates=True, infer_datetime_format=True)
bitstamp.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,$13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,$13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,$13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,$13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,$13620.0,1.069665,14582.660932,13632.923329

In [19]:
# create the coinbase data frame 

coinbase = pd.read_csv(coin_data, index_col="Timestamp", parse_dates=True, infer_datetime_format=True)
coinbase.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,$13608.49,20.812754,283451.08537,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,$13601.66,13.474359,183283.97801,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,$13580.0,11.536360,156789.19686,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,$13550.34,16.328039,221413.64182,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,$13583.44,9.955364,135141.26944,13574.719401

In [23]:
# drop NAs
# review duplicates
bitstamp[bitstamp.duplicated(keep=False)]
# no duplicates found         

bitstamp.dropna(inplace=True)
bitstamp.drop_duplicates(inplace=True) # should not actually do anything

In [29]:
bitstamp['Close'] = bitstamp['Close'].str.replace('$','',regex=False).astype(float)
bitstamp.head()
coinbase['Close'] = coinbase['Close'].str.replace('$','',regex=False).astype(float)
coinbase.head()

,Open,High,Low,Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13620.00,13620.00,13608.49,13608.49,20.812754,283451.08537,13619.105106
2018-01-01 00:01:00,13607.14,13607.14,13601.66,13601.66,13.474359,183283.97801,13602.426919
2018-01-01 00:02:00,13601.44,13601.44,13580.00,13580.00,11.536360,156789.19686,13590.872506
2018-01-01 00:03:00,13587.31,13587.31,13542.70,13550.34,16.328039,221413.64182,13560.332806
2018-01-01 00:04:00,13550.34,13585.95,13550.34,13583.44,9.955364,135141.26944,13574.719401

In [32]:
bitstamp['Close'].describe()

count    129067.000000
mean      10459.842453
std        2315.976088
min        5944.000000
25%        8613.370000
50%       10145.950000
75%       11444.810000
max       17234.980000
Name: Close, dtype: float64